<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Data Jobs Homepage</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="assets/css/styles.css" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="#" id="logo">Data Science Jobs</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="Table.html">Job Listing</a></li>
              <li><a href="Map.html">Job Location</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-8">
          <article class="description-content">
            <h1 class="description-header">Data Analytics Jobs : A Closer Look</h1>
            <hr class="description-hr"/>
            <img src="assets/images/Image_pexels.jpg" alt="" id="description-image"/>
            <p>The Data Science job market is warming up. As predicted by the World Economic forum, IBM  and Linkedin Workforce Report 
              the annual demand for data scientists, data developers and data engineers will lead to 700,000 new recruitments by 2020.</p> 
            <p>We have attempted to create this comprehensive and interactive resource for job seekers in the data science and analytics domain.</p>
            <p>Our goal is to help you find where the data jobs are concentrated geogprahically, who are the employers and what are the positions.</p>
          </article>
        </div>
        <div class="col-md-4">

          <!-- Start of Visualizations imageNav Area -->
          <section id="imageNav-area">
              <div class="imageNav-content">
                <h2 class="imageNav-header">Charts</h2>
                <hr />
                <div id="images">
                  <a href="visualizations/chart1.html"><img src="assets/images/Fig1.png" alt="Top Cities " class="imageNav-photo"></a>
                  <a href="visualizations/chart2.html"><img src="assets/images/Fig2.png" alt="Top Companies" class="imageNav-photo"></a>
                   
                </div>
              </div>
            </section>
          <!-- End of the Visualizations imageNav Area -->

        </div>
      </section>
    </div> 
    <!-- End of container -->

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy; Team 6 : Dristhi Yadav, Mark Levine, Richa Singh, Sicong Wang
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>
