<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Analytics Jobs!</title>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  <!-- CSS -->
  <link rel="stylesheet" href="static/css/style_drishti.css">
  <link rel="stylesheet" href="static/css/d3Style.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://127.0.0.1:5000">Drishti, Mark, Richa and Sicong</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="http://127.0.0.1:5000">Home</a></li>
            <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualizations
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      
                      <li><a href="http://127.0.0.1:5000/map">Map</a></li>
                      <li><a href="http://127.0.0.1:5000/charts">Charts</a></li>
                      
                    </ul>
                  </li>
            <li><a href="https://goo.gl/t97dU2" target="_blank">Glassdoor</a></li>
            <li><a href="http://127.0.0.1:5000/table">Data Table</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="https://www.amazon.com/s?k=free&ref=nb_sb_noss_2"><span class="glyphicon glyphicon-user"></span> Sign Up For Free Amazon packages!</a></li> -->
            
          </ul>
        </div>
      </nav>
  <div class="col-md-12 jumbotron text-center">
    <h1>Data Analytics Jobs!</h1></div>
  <div id="plot"></div>
  <div class="col-md-6">
      <canvas id="pie-chart" width="800" height="450"></canvas>
  </div>  
  <div class="col-md-6">
      <canvas id="donut-chart" width="800" height="450"></canvas>
  </div>  
  <div class="col-md-8 col-md-offset-2">
    <h5>SELECT VIEW:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
      <div id="bar-plot"></div>
  </div>
  <div id="map"></div>
  <!-- D3 JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.js"></script>
  <!-- Plotly JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <!--
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>-->
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/charts2.js') }}"></script> -->

  <!-- New Chart javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</body>

</html>
