<!DOCTYPE html>
<html lang="en">
<head>
  <title>Find Jobs, Git Hired</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="footer-distributed-with-contact-form.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!---->
  <!-- <style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  </style> -->
</head>
<body> 

<!-- <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Data Viz and Bootstrap</h1>
</div> -->
  


<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://127.0.0.1:5000">Drishti, Mark, Richa and Sicong</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="http://127.0.0.1:5000">Home</a></li>
            <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualizations
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      
                      <li><a href="http://127.0.0.1:5000/map">Map</a></li>
                      <li><a href="http://127.0.0.1:5000/charts">Charts</a></li>
                      
                    </ul>
                  </li>
            
            <li><a href="http://127.0.0.1:5000/table">Data Table</a></li>
            <li><a href="https://goo.gl/t97dU2" target="_blank">Glassdoor</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="https://www.amazon.com/s?k=free&ref=nb_sb_noss_2"><span class="glyphicon glyphicon-user"></span> Sign Up For Free Amazon packages!</a></li> -->
            
          </ul>
        </div>
      </nav>

      <div class="container">
          <section class="row">
            <div class="col-md-8">
              <article class="description-content">
                <h1 class="description-header">Data Analytics Jobs: A Closer Look</h1>
                <hr class="description-hr"/>
                <img src="Image_pexels.jpg" alt="" id="description-image"/>
                <p>The Data Science job market is warming up. As predicted by the World Economic forum, IBM  and Linkedin Workforce Report 
                  the annual demand for data scientists, data developers and data engineers will lead to 700,000 new recruitments by 2020.
                We have attempted to create this comprehensive and interactive resource for job seekers in the data science and analytics domain.
                <p>Our goal is to help you find where the data jobs are concentrated geogprahically, who are the employers and what are the positions.</p>
              </article>
            </div>
            <div class="col-md-4">
    
              <!-- Start of Visualizations imageNav Area -->
              <section id="imageNav-area">
                  <div class="imageNav-content">
                    <h2 class="imageNav-header">Charts</h2>
                    <hr />
                    <div id="images">
                      <a href="http://127.0.0.1:5000/charts"><img src="/assets/images/cities.PNG" alt="Top Cities " class="imageNav-photo"></a>
                      <a href="http://127.0.0.1:5000/charts"><img src="/assets/images/states.PNG" alt="Top Companies" class="imageNav-photo"></a>
                       
                    </div>
                  </div>
                </section>
              <!-- End of the Visualizations imageNav Area -->
    
            </div>
          </section>
        </div> 
        <!-- End of container -->
    
        <!-- Start of footer -->
        <footer class="footer navbar-fixed-bottom">
          <div class="two-toned-footer-color"></div>
          <p class="text-muted text-muted-footer text-center">
            &copy; Team 6 : Dristhi Yadav, Mark Levine, Richa Singh, Sicong Wang
          </p>
        </footer>
    
 <!-- <li><a href="https://github.com/MarkovCredit/">My Git Hub</a></li>
  <li><a href="mailto:mark.levinejr@gmail.com">Email</a> -->
    


<!-- <footer class="footer-basic-centered">

      <p class="footer-links">
      <a href="LandingPage.html">Home</a>
      ·
      <a href="https://www.linkedin.com/in/mark-levine-26192628/">Linkedin</a>
      ·
      <a href="https://github.com/MarkovCredit/">My Git Hub</a>
      ·
      <a href="mailto:mark.levinejr@gmail.com">Email</a>
    </p>

    <p class="footer-company-name">Markov Credit © 2018</p>

  </footer> -->
</div>
</body>
</html>
